@charset "UTF-8";

/* 전체 */
* {font-family: 'Noto Sans KR', sans-serif;}
.btn.btn-primary {background-color: #00204a;}
#b_content{resize:none;}
#item-template{display:none;}
#r_content{resize:none;}
.table-height { min-height: 407px; }
.image_size { width: 80px; height: 113px; }

/* header */
div.menu-bg-wrap {background-color: #00204a;}
.site-nav .site-navigation .site-menu {
	margin-top: 50px;
	font-weight: 400;
}
.site-nav .site-navigation .site-menu .has-children > .dropdown > li > a {text-decoration: none;}
img#logo {height: 100px;}
.hero .heading {
	font-size: 40px;
	font-weight: 700;
}
div.hero.page-inner.overlay {margin-bottom: 40px;}

/* search */
.hero .form-search .btn {
	background-color: #00204a;
	font-size: 15px;
}
select#search {
	outline: none;
	margin-right: 10px;
	border-radius: 30px;
	padding: 10px;
}
.form-group > select#search {margin-right: 5px;}
.form-group > input.search-keyword {
	height: 44px;
	margin-right: 5px;
	border-radius: 30px;
	padding: 10px;
}
.form-group > button {
	height: 44px;
	border-radius: 30px;
	padding: 10px 15px;
}

/* body */
.breadcrumb-area {margin-top: 200px;}
.section .heading {
	font-size: 30px;
	font-weight: 700;
}
.reply_count { font-size: 10px; color: red; }
.pd-thumb {height: 400px;}
.br-thumb img {height: 300px;}
.section > .container > .nav-tabs {
	font-size: 18px;
	font-weight: 400;
}
.section > .container > #tabContent {margin: 40px;}
#reviewList {margin-top: 20px;}
#reviewList .panel-img .review-img {max-height: 200px;}
.contentContainer {margin-bottom: 50px;}
.contentTB {margin-bottom: 40px;}
.review-img {max-height: 250px;}

/* footer */
.site-footer a {text-decoration: none;}
#footer-copyright {font-size: 9px;}